@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
}


.linear-wipe {
  text-align: center;
  z-index: 40;
  background: linear-gradient(to right, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82, #f79533);
  background-size: 200% auto;

  color: #000;
  background-clip: text;
  /* text-fill-color: transparent; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shine 3s linear infinite;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

.bg_thatblack {
  background: #121212;
}

.bg_gradient {
  background: linear-gradient(180deg, rgba(18,18,18,1) 50%, rgba(31,31,31,1) 100%);
}

.spotify_green{
  background-color: #1ECF5E;
}
.img {
  float: left;
  width:  100px;
  height: 100px;
  background-size: cover;
}